html {
	box-sizing:border-box;
}

*, *:before, *:after {
	box-sizing:inherit;
}

body {
	background-color: rgb(242, 136, 136);
	transition-property: background-color;
  transition-duration: 2s;
}

#quote-box{
	background-color: white;
	margin: 25%;
	padding: 2%;
}

#new-quote {
	background-color: rgb(242, 136, 136);
	color: white;
	border: none;
	outline: none;
	transition-property: background-color;
  transition-duration: 2s;
}

.fa {
	color: rgb(242, 136, 136);
	border: none;
	outline: none;
	transition-property: color;
  transition-duration: 2s;
  font-size: 30px;
}

#text, #author {
	color: rgb(242, 136, 136);
	border: none;
	outline: none;
	transition-property: color;
  transition-duration: 2s;
}